@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
header{
    border-bottom: 5px solid rgb(12, 109, 12);
    background-color:#B60000;
    padding: 10px;
}
.HeaderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__img--icon{
    width: 100px;
}
.header__text-logo{
    color: white;
    font-family: 'Climate Crisis', cursive;
    font-size: 2rem;
}
nav{
    display: flex;
}
.navMenu{
    list-style-type: none;
    display: flex;
    gap: 8px;
 
}
   
.navMenu__link {
    text-decoration: none;
    color: black;
    background-color: #ffff00a1;
    border-radius: 15px;
    font-size: small;
    padding: 5px;
}
.navMenu__link:hover{
    background-color: yellow
}

main {
    display: flex;
    flex-direction: column;
    background-color: #fffe4b;
}
.produtosdestaque{
    display: flex;
    justify-content: space-between;
      
}
.produtos {
    box-shadow: 1px 1px 4px #bc8b07;;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    background-color: #ffb20052;
    min-height: 35rem;
}



.produtos__img--pizza {
    border-radius: 156px;
    width: 54%;
    text-align: center;
    margin: auto;
}

.produtos__info{
    padding: 30px 10px;
    line-height: 25px;
    width: 100%;
    background-color: #F2B02C;
    color: #454545;
}
.produtos__preco{
    font-size: 2rem;
    
}
.cardapio-section{
    display: flex;
    flex-direction: column;
}

.cardapio__produtos {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 28rem;
    /* max-width: 10rem; */
    overflow: auto;
}

.cardapio__nome p{
    color: #B60000;
   
}
.produtos__container {
    padding: 10px;
    background-color: rgba(255, 255, 0, 0.673);
    display: flex;
    overflow: auto;
}
.produtosc:hover{
    border: 0,5px solid black;
    box-shadow: 14px 14px 20px 3px rgba(0,0,0,0.85);
    -webkit-box-shadow: 14px 14px 20px 3px rgba(0,0,0,0.85);
    -moz-box-shadow: 14px 14px 20px 3px rgba(0,0,0,0.85);
}
.produtos__nome {
    background-color: #f2b02cb7;
    padding: 30px 10px;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    color: #454545;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #b60000;
    background: linear-gradient(62deg,#b60000 0%, #f47d0a 90%);
    background: -webkit-linear-gradient(62deg,#b60000 0%, #f47d0a 90%);
    background: -moz-linear-gradient(62deg,#b60000 0%, #f47d0a 90%);
    border-top: 8px solid rgb(12, 109, 12);
    padding: 10px;
        
}

.footer__txt--principal {
    font-size: x-large;
    padding: 2px;
    width: max-content;
    background-color: yellow;
    color: black;
}
.footer__txt--secondtxt{
    color: white;
}
.footer__email--img{
    max-width: 25px;
    margin: 5px;
}
.footerTxt{
    line-height: 20px;
    margin: 5px;
   
}

.txtcheck{
    color: white;
}

.footer__email {
    display: flex;
    background-color: yellow;
    width: max-content;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 5px;
    
    cursor: pointer;
    
    width: 9rem;
}
.footer__telefone{
    display: flex;
    background-color:  yellow;
    width: 9rem;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}
.footer__telefone--title{
    line-break: anywhere;
}

.footer__telefone--img{
    width: 2rem;

}
.botaofo {
    padding: 14px;
    
    background-color: yellow;
    border: none;
    cursor: pointer;
}

.tituloForm{
    background-color: yellow;
    
    margin-top: 15px;
    font-size: 20px;
    text-align: center;

    width: 126px;
    
}
.inputStyle{
    margin-top: 10px;
     border: none;
     padding: 15px;
     text-align: center;
     width: 8rem;
    margin-bottom: 1rem;
}

.inputFooter {
    display: flex;
    flex-direction: column;
}
 
 .botaoF{
    margin-top: 5px;
    margin-bottom: 5px;
    
}
@media (min-width:750px){
    .HeaderContainer {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .navMenu__link {
        text-decoration: none;
        border-radius: 15px;
        padding: 11px;
    }
    .produtos__container {
        padding: 10px;
        background-color: rgba(255, 255, 0, 0.673);
        display: flex;
     
        flex-direction: column;
    }
    .produtos__nome {
        /* font-size: 1.3rem; */
    }

    .produtos__img--pizza {
        border-radius: 156px;
        width: 15rem;
    }
}
@media (min-width: 1024px){
    .HeaderContainer {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .navMenu__link {
        text-decoration: none;
        color: black;
        
        border-radius: 15px;
        padding: 15px;
        font-size: medium;
    }
    
    .produtos__container {
    padding: 10px;
    background-color: rgba(255, 255, 0, 0.673);
    display: flex;
    flex-direction: row;
    }
   
    .produtos__img--pizza {
        border-radius: 156px;
        width: 15rem;
    }

    .inputStyle{
        margin-top: 10px;
         border: none;
         padding: 15px;
         text-align: center;
         width: 15rem;
    }
    .footer__txt--principal {
        font-size: xxx-large;
        padding: 5px;
        width: max-content;
        background-color: yellow;
        color: black;
    }
    .tituloForm {
        background-color: yellow;
        margin-top: 15px;
        font-size: 20px;
        text-align: center;
        width: 16.9rem;
    }
    
}
